@using Sandbox;
@using Sandbox.UI;
@namespace Sandbox
@inherits PanelComponent

<root>
	@if ( !DeskUiState.IsAnyDeskUiOpen )
	{
		<div class="dot"></div>
	}
</root>

@code {
	protected override int BuildHash() => System.HashCode.Combine( DeskUiState.IsAnyDeskUiOpen );
}
