@using Sandbox;
@using Sandbox.UI;
@namespace Sandbox
@inherits PanelComponent

<root>
	@if ( !ComputerTerminalSystem.IsAnyTerminalOpen )
	{
		<div class="dot"></div>
	}
</root>

@code {
	protected override int BuildHash() => System.HashCode.Combine( ComputerTerminalSystem.IsAnyTerminalOpen );
}
