@import "/Systems/UI/_theme.scss";

PlayerTitlePanel {
	width: 2400px;
	height: 360px;
	align-items: center;
	justify-content: center;
	pointer-events: none;

	.player-title-card {
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-family: $font-default;
	}

	.player-name {
		color: $text-primary;
		font-weight: bold;
		text-shadow: $text-shadow-default;
		white-space: nowrap;
	}

	.role-admin .player-name {
		color: #ff4545;
	}

	.role-moderator .player-name {
		color: #ff9f2f;
	}

	.role-user .player-name {
		color: white;
	}

	.player-level {
		margin-top: 4px;
		color: $text-secondary;
		font-weight: bold;
		text-shadow: $text-shadow-default;
		text-transform: uppercase;
	}
}
