{
  "Version": 2,
  "Defaults": {
    "bullet": "Collide",
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger"
  },
  "Pairs": [
    {
      "a": "bullet",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "bullet",
      "b": "world",
      "r": "Collide"
    },
    {
      "a": "bullet",
      "b": "trigger",
      "r": "Ignore"
    },
    {
      "a": "bullet",
      "b": "ladder",
      "r": "Ignore"
    },
    {
      "a": "bullet",
      "b": "water",
      "r": "Ignore"
    },
    {
      "a": "bullet",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    }
  ],
  "__guid": "fba4e121-785e-487e-ae55-ffe8571eb975",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}
